.main-body{
    background-image: url("resource/background-body.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    background-image: url("resource/logo.png");
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Quicksand";
    src: url("font/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("font/HoneyScript-Light.ttf");
}

*{
    font-family: "Quicksand";
    font-size: 14px;
}

.title1{
    font-family: "forte";
    font-size: 40px;
    letter-spacing: 4px;
}


.title2{
    font-size: 25px;
    font-weight: bold;
}